<a href="https://colab.research.google.com/github/Neel7317/car-prediction/blob/main/GradientBoostingRegressor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import warnings

In [ ]:
df=pd.read_csv("car data.csv")

In [ ]:
df.head()

  Car_Name  Year  Selling_Price  ...  Seller_Type  Transmission Owner
0     ritz  2014           3.35  ...       Dealer        Manual     0
1      sx4  2013           4.75  ...       Dealer        Manual     0
2     ciaz  2017           7.25  ...       Dealer        Manual     0
3  wagon r  2011           2.85  ...       Dealer        Manual     0
4    swift  2014           4.60  ...       Dealer        Manual     0

[5 rows x 9 columns]

In [ ]:
df.shape

(301, 9)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [ ]:
#missing values
df.isna().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [ ]:
df['Age'] = 2020 - df['Year']
df.drop('Year',axis=1,inplace = True)

In [ ]:
df.rename(columns = {'Selling_Price':'Selling_Price(lacs)','Present_Price':'Present_Price(lacs)','Owner':'Past_Owners'},inplace = True)

In [ ]:
df.drop(labels='Car_Name',axis= 1, inplace = True)

In [ ]:
df.head()

   Selling_Price(lacs)  Present_Price(lacs)  ...  Past_Owners Age
0                 3.35                 5.59  ...            0   6
1                 4.75                 9.54  ...            0   7
2                 7.25                 9.85  ...            0   3
3                 2.85                 4.15  ...            0   9
4                 4.60                 6.87  ...            0   6

[5 rows x 8 columns]

In [ ]:
df = pd.get_dummies(data = df,drop_first=True)

In [ ]:
df.head()

   Selling_Price(lacs)  ...  Transmission_Manual
0                 3.35  ...                    1
1                 4.75  ...                    1
2                 7.25  ...                    1
3                 2.85  ...                    1
4                 4.60  ...                    1

[5 rows x 9 columns]

In [ ]:
# Separating target variable and its features
y = df['Selling_Price(lacs)']
X = df.drop('Selling_Price(lacs)',axis=1)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)
print("x train: ",X_train.shape)
print("x test: ",X_test.shape)
print("y train: ",y_train.shape)
print("y test: ",y_test.shape)

x train:  (240, 8)
x test:  (61, 8)
y train:  (240,)
y test:  (61,)

In [ ]:
from sklearn.metrics import r2_score
from sklearn.model_selection import cross_val_score

In [ ]:
CV = []
R2_train = []
R2_test = []

def car_pred_model(model,model_name):
    # Training model
    model.fit(X_train,y_train)
            
    # R2 score of train set
    y_pred_train = model.predict(X_train)
    R2_train_model = r2_score(y_train,y_pred_train)
    R2_train.append(round(R2_train_model,2))

    # R2 score of test set
    y_pred_test = model.predict(X_test)
    R2_test_model = r2_score(y_test,y_pred_test)
    R2_test.append(round(R2_test_model,2))
    
    # R2 mean of train set using Cross validation
    cross_val = cross_val_score(model ,X_train ,y_train ,cv=5)
    cv_mean = cross_val.mean()
    CV.append(round(cv_mean,2))
    
    # Printing results
    print("Train R2-score :",round(R2_train_model,2))
    print("Test R2-score :",round(R2_test_model,2))
    print("Train CV scores :",cross_val)
    print("Train CV mean :",round(cv_mean,2))
    
    # Plotting Graphs 
    # Residual Plot of train data
    fig, ax = plt.subplots(1,2,figsize = (10,4))
    ax[0].set_title('Residual Plot of Train samples')
    sns.distplot((y_train-y_pred_train),hist = False,ax = ax[0])
    ax[0].set_xlabel('y_train - y_pred_train')
    
    # Y_test vs Y_train scatter plot
    ax[1].set_title('y_test vs y_pred_test')
    ax[1].scatter(x = y_test, y = y_pred_test)
    ax[1].set_xlabel('y_test')
    ax[1].set_ylabel('y_pred_test')
    
    plt.show()

In [ ]:

from sklearn.model_selection import RandomizedSearchCV
import xgboost as xg

In [ ]:
xgb_r = xg.XGBRegressor()

In [ ]:
# Rate at which correcting is being made
learning_rate = [0.001, 0.01, 0.1, 0.2]
# Number of trees in Gradient boosting
n_estimators=list(range(500,1000,100))
# Maximum number of levels in a tree
max_depth=list(range(4,9,4))
# Minimum number of samples required to split an internal node
min_samples_split=list(range(4,9,2))
# Minimum number of samples required to be at a leaf node.
min_samples_leaf=[1,2,5,7]
# Number of fearures to be considered at each split
max_features=['auto','sqrt']

In [ ]:

# Hyperparameters dict
param_grid = {"learning_rate":learning_rate,
              "n_estimators":n_estimators,
              "max_depth":max_depth,
              "min_samples_split":min_samples_split,
              "min_samples_leaf":min_samples_leaf,
              "max_features":max_features}

In [ ]:
gb_rs = RandomizedSearchCV(estimator = xgb_r, param_distributions = param_grid)

In [ ]:
car_pred_model(gb_rs,"gradient_boosting.pkl")

In [ ]:
import pickle # for saving and loading the model

In [ ]:
# Saving model to disk
pickle.dump(gb_rs, open('model.pkl','wb'))

In [ ]:
# Loading model to compare the results
model = pickle.load(open('model.pkl','rb'))

In [ ]:
print(model.predict([[3.59,700,0,2,0,1,0,1]]))

[2.90493049]

In [ ]:
df.tail()

     Selling_Price(lacs)  ...  Transmission_Manual
296                 9.50  ...                    1
297                 4.00  ...                    1
298                 3.35  ...                    1
299                11.50  ...                    1
300                 5.30  ...                    1

[5 rows x 9 columns]

In [ ]:
df['Past_Owners'].unique()

array([0, 1, 3])